.tailwind-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input[type="radio"]:checked + span {
  display: block;
}

.grid {
  display: grid;
}
.grid-col {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 640px) {
  .grid-col {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.gap-6 {
  gap: 1.5rem /* 24px */;
}

.grid-col-2 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 340px) {
  .grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .grid-col-2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.gap-4 {
  gap: 1rem /* 16px */;
}
.rounded-2xl {
  border-radius: 0.5rem /* 16px */;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.form-container {
  width: 50%;
}

@media (max-width: 640px) {
  .form-container {
    width: 100%;
  }
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-fastest {
  transition-duration: 75ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.transition-slow {
  transition-duration: 300ms;
}
.transition-slower {
  transition-duration: 500ms;
}
.transition-slowest {
  transition-duration: 700ms;
}

.transition-all {
  transition-property: all;
}
.transition-opacity {
  transition-property: opacity;
}
.transition-transform {
  transition-property: transform;
}

.focus-visible.focus-visible\:underline {
  text-decoration: underline;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.4s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
  transition: all 150ms ease-in 0s;
}

.save-pop-up {
  position: absolute;
  top: -92px;
  left: -268px;
}

.error-msg {
  top: 50px;
  left: 50px;
}

.hide-error-msg {
  left: -100%;
}
