.tailwind-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input[type="radio"]:checked + span {
  display: block;
}

.grid {
  display: grid;
}
.grid-col {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 640px) {
  .grid-col {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.gap-6 {
  gap: 1.5rem /* 24px */;
}

.grid-col-2 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 340px) {
  .grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .grid-col-2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.gap-4 {
  gap: 1rem /* 16px */;
}
.rounded-2xl {
  border-radius: 0.5rem /* 16px */;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.form-container {
  width: 50%;
}

@media (max-width: 640px) {
  .form-container {
    width: 100%;
  }
}
